<!DOCTYPE html>
<html>
    <head>
        <title><%= title %> - 編輯課程</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/userView.css' />
        <link rel='stylesheet' href='/stylesheets/backgroundImage.css' />
    </head>
    <body>
        <div class="content">
            <h1><%= title %></h1>
            <%- include('header') %>
            
            <form action="/courses/myCourses/<%= course._id %>" method="post" id="courseform" enctype="multipart/form-data">
                <div class="container">
                    <h1 id="registerText">編輯課程資料</h1>
                    <hr>
                    
                    <label for="name"><b>課程名稱</b></label>
                    <input type="text" placeholder="請輸入名稱" name="name" id="name" value="<%= course.name %>" required>
                    
                    <br><label for="name"><b>簡介</b></label><br>
                    <textarea rows = "5" cols = "60" name = "introduction" form="courseform" required><%= course.introduction %></textarea> <br/>

                    <br><label for="name"><b>內容</b></label><br>
                    <textarea rows = "5" cols = "60" name = "content" form="courseform" required><%= course.content %></textarea> <br/>

                    <br><label for="name"><b>學習的人能夠得到甚麼</b></label><br>
                    <textarea rows = "5" cols = "60" name = "whatPeopleLearn" form="courseform" required><%= course.whatPeopleLearn %></textarea> <br/>

                    <br><label for="name"><b>上傳圖片</b></label><br>
                    <input type="file" accept="image/jpg,image/jpeg,image/png" name="photoLink" id="photoLink" value="<%= course.photoLink %>">

                    <br><br><label for="name"><b>上傳影片</b></label><br>
                    <input type="file" accept="video/*" name="videoLink" id="videoLink" value="<%= course.videoLink %>">

                    <br><br><label for="name"><b>課程價錢</b></label><br>
                    <input type="number" placeholder="輸入價錢" name="money" id="money" value="<%= course.money %>" min="0" step="1" onchange="rangeChecks(this.value,this.id);" required>
                
                    <label for="name"><b>課程分類</b></label><br/>
                    <select name="category" id="category" required>
                        <option value="programming">程式</option>
                        <option value="music">音樂</option>
                        <option value="investment">投資</option>
                        <option value="language">語言</option>
                        <option value="art">藝術</option>
                        <option value="design">設計</option>
                        <option value="marketing">市場營銷</option>
                    </select>
                    <hr>
                    <button type="submit" class="registerbtn">更改資料</button>
                <button type="button" class="registerbtn" style="background-color: red;" onclick="deleteCourse()">排定刪除課程</button>
            </div>
            <p><a href="/courses/myCourses">回到上一頁</a></p>
          </form>
        </div>
            <% if (messages) { %>
                <section class="messages">
                  <% messages.forEach(function(message) { %>
                    <p><b><%= message %></b></p>
                  <% }); %>
                </section>
              <% } %>
        </div>
        <script>
          document.getElementById('category').value = '<%= course.category %>';

          function deleteCourse(){
            if(confirm("你確定要刪除課程嗎？")){
              window.location.href='/courses/myCourses/<%= course._id %>/delete';
            }
          }
          function rangeChecks(val,id){
            if(val<0){
                alert("價錢不能為負數，請重新輸入");
                document.getElementById(id).value=-val; 
            }
          }
        </script>
    </body>
    </html>