<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 查看製造課程</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('video') %>
    <%- include('audio') %>
    <div class="content">
      <h1>學習網站</h1>
      <%- include('header') %>

      <ul id="courses"><% courses.forEach(course=> { %>
      <li><ul class="course">
        <li><a href="/courses/<%= course._id %>" ><%= course.name %> - <%= category_chinese(course.category) %></a></li>
        <li>作者： <%= course.author %></li>
        <li>簡介： <%= course.introduction %></li>
        <li>價錢： <%= course.money %> </li>
        <li>評價： <%= course.rate %> </li>
      </ul></li>
      <% }); %></ul>
    </div>
  </body>
</html>