<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 查看付費課程</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/showCourses.css' />
    <link rel='stylesheet' href='/stylesheets/backgroundImage.css' />
  </head>
  <body>
    <div class="content">
      <h1><%= title %></h1>
      <%- include('header') %>
      <ul id="courses"><% courses.forEach(course=> { %>
        <% if (!course.PendToDelete || course.PendToDelete > now) {%>
        <li><ul class="course">
          <li><a href="/courses/<%= course._id %>" ><%= course.name %> - <%= category_chinese(course.category) %></a></li>
          <li>作者： <%= course.author %></li>
          <li>簡介： <%= course.introduction %></li>
          <li>評價： <%= course.rate || "沒有評分" %> <%="("+(course.rateCount || 0)+")"%> </li>
          <% if (course.PendToDelete) {%>
            <li>此課程將於<%= course.PendToDelete%>下架</li>
            <% } %>
        </ul></li>
        <% } %>
        <% }); %></ul>
    </div>
    <% 
      function category_chinese(name){
        if(name=="programming") return "程式";
        else if(name=="music") return "音樂";
        else if(name=="investment") return "投資";
        else if(name=="language") return "語言";
        else if(name=="art") return "藝術";
        else if(name=="design") return "設計";
        else if(name=="marketing") return "市場營銷";
        return "錯誤";
      }
    %>
  </body>
</html>