<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= course.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/backgroundImage.css' />
  </head>
  <%
    const imagePath = (course.photo)? "../"+extractBackslash(course.photo.destination)+"/"+course._id+"_photo."+extractBackslash(course.photo.mimetype):"\\images\\default.jpg";
    const videoPath = (course.video)? "../"+extractBackslash(course.video.destination)+"/"+course._id+"_video."+extractBackslash(course.video.mimetype):"\\videos\\default.mp4";
    function extractBackslash(mimetype){
      const index = mimetype.indexOf('/');
      return mimetype.slice(index+1);
    }
    function expired(date) {
      now = new Date();
      if (date < now) {
        return true;
      } return false;
    }
    

  %>
  <body onload="redirectExpired('<%= course.PendToDelete %>');">
    <div class="content">
      <h1><%= title %></h1>
      <%- include('header') %>
      <table>
        <% if(!expired(course.PendToDelete)) { %>
        <tr><td colspan="2">
          <img src= "<%= imagePath %>" height="300" width="300">
        </td></tr>
        <tr><td>課程名稱</td><td><%= course.name %></td> </li>
        <tr><td>作者</td><td><%= course.author %></td></tr>
        <tr><td>作者介紹</td><td><%= course.authorDetails %></td></tr>
        <tr><td>學習的人能夠得到甚麼</td><td><%= course.whatPeopleLearn %></td></tr>
        <tr><td>簡介</td><td><%= course.introduction %></td>
        <% if (paid) { %>
          <tr><td>內容</td><td><%= course.content %></td>
          <tr><td>影片</td><td><video controls><source src="<%= videoPath %>"></video></td></tr>
          <% if (course.PendToDelete) {%><tr><td>簡介</td><td><%= course.PendToDelete %></td> <% } %>
        <% } %>
        <% if (!paid) { %>
          <tr><td colspan="2"><a href='/courses/<%= course._id %>/buy'>購買課程：$<%= course.money %></a></td></tr>
        <% } %>
        <% if (paid) { %>
          <tr><td colspan="2"><form method="post">
            <label for="rate">為課程評分：（０至５分）</label>
            <input type="number" id="rateText" value="<%= rate || '2.5'   %>" min="0" max="5" step="0.1" onchange="rangeChecks(this.value);" ><br/>
            <input type="range" id="rateRange" name="rate" value="<%= rate || '2.5'  %>" min="0" max="5" step="0.1" onchange="rangeChecks(this.value);"><br/>
            <input type="submit" value="提交">
          </form></td></tr>
        <% } %>
        <% } %>
      </table>
      <% if (messages.length != 0) { %>
        <script>alert('<%= messages %>')</script>
      <% } %>
      <label for="uname"><b><%= msg %></b></label>
    </div>
    <script>
      function rangeChecks(val){
        let rate = val;
        if(val>5){
          alert("評分不能超過5分，請重新評分");
          rate = 2.5;
        }
        else if(val<0){
          alert("評分不能為負數，請重新評分");
          rate = 2.5;
        }
        document.getElementById('rateText').value=rate; 
        document.getElementById('rateRange').value=rate; 
      }
      function redirectExpired(date) {
        now = new Date();
        date = new Date(date)
        if (date < now) {
          window.location.replace('/courses');
        }
      }

      
      
    </script>

  </body>
</html>


