<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= course.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/backgroundImage.css' />
  </head>
  <body>
    <%- include('audio') %>
    <div class="content">
      <h1><%= title %></h1>
      <%- include('header') %>

      <table>
        <tr><td colspan="2"><% if (paid) { %><a href="<%= course.videoLink %>" target="_blank"><% } %><img src="<%= course.photoLink %>" height="200" width="200"><% if (paid) { %></a><% } %></td></tr>
        <tr><td>課程名稱</td><td><%= course.name %></td> </li>
        <tr><td>作者</td><td><%= course.author %></td></tr>
        <tr><td>作者介紹</td><td><%= course.authorDetails %></td></tr>
        <tr><td>學習的人能夠得到甚麼</td><td><%= course.whatPeopleLearn %></td></tr>
        <tr><td>簡介</td><td><%= course.introduction %></td>
        <% if (paid) { %>
          <tr><td>內容</td><td><%= course.content %></td>
          <tr><td>影片連結</td><td><a href="<%= course.videoLink %>" target="_blank"><%= course.videoLink %></a></td></tr>
        <% } %>
        <% if (!paid) { %>
          <tr><td colspan="2"><a href='/courses/<%= course._id %>/buy'>購買課程：$<%= course.money %></a></td></tr>
        <% } %>
        <% if (paid) { %>
          <tr><td colspan="2"><form method="post">
            <label for="rate">評分 (1至5分):</label>
            <input type="text" id="rating" value="<%= course.data || '2.5'   %>" ><br/>
            <input type="range" id="rate" name="rate" value="<%= course.data || '2.5'  %>" min="0" max="5" step="0.1" onchange=<%="updateTextInput(this.value);"%>>
            <input type="submit" value="Submit">
          </form></td></tr>
        <% } %>

  </table>
      <label for="uname"><b><%= msg %></b></label>
    </div>
  </body>
</html>

<script>
  function updateTextInput(val) {
    document.getElementById('rating').value=val; 
  }

</script>