<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 查看所有課程</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>學習網站</h1>
    <%- include('header',{user:user}) %>

    <ul>
      <% courses.forEach(course=> { %>
          <li><a href="/courses/myCourses/<%= course.id %>" >Course Name: <%= course.name %>, Author: <%= course.author %>, Money: <%= course.money %> </a>
          </li>
          <% }); %>
    </ul>
  </body>
</html>