<!DOCTYPE html>
<html>
  <head>
    <title>學習網站 - 查看所有課程</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>學習網站</h1>
    你好，<%= user.username %>。 <a href="/courses/myCourses">管理課程</a> <a href="/users">個人資料</a> <a href="/logout">登出</a>

    <ul>
      <% courses.forEach(course=> { %>
          <li><a href="/courses/myCourses/<%= course.id %>" >Course Name: <%= course.name %>, Author: <%= course.author %>, Money: <%= course.money %> </a>
          </li>
          <% }); %>
    </ul>
  </body>
</html>