<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 查看課程</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('header',{user:user}) %>

    <ul>
      <% courses.forEach(course=> { %>
          <li><a href="/courses/<%= course._id %>" >Course Name: <%= course.name %>, Author: <%= course.author %>, Money: <%= course.money %> </a>
          </li>
          <% }); %>
    </ul>
  </body>
</html>