<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/userView.css' />
    <link rel='stylesheet' href='/stylesheets/backgroundImage.css' />
  </head>
  <body>
    <%- include('audio') %>
    <div class="content">
        <h1><%= title %></h1>
        <%- include('header') %>
        <h2>更改遊戲資料</h2>
        <hr>
        <form id="form" action="/game/settings" method="post">

            <p><label for="number"><b>獲得金錢的分數</b></label></p>
            <input type="number" placeholder="分數" value="<%= gameScore.score %>" onchange="rangeChecks(this.value,this.id)" min="0" step="50" name="score" id="score" required>
    
            <p><label for="number"><b>獲得金額</b></label></p>
            <input type="number" placeholder="金額" value="<%= gameScore.money %>" onchange="rangeChecks(this.value,this.id)" min="0" step="5" name="money" id="money" required>

            <hr>
            <button type="submit" class="registerbtn">更改資料</button>
        </form>

        <% if (messages) { %>
        <section class="messages">
            <% messages.forEach(function(message) { %>
            <p><b><%= message %></b></p>
            <% }); %>
        </section>
        <% } %>
    </div>
    <script>
        function rangeChecks(val,id){
            if(val<0){
                alert("價錢不能為負數，請重新輸入");
                document.getElementById(id).value=2.5; 
            }
        }
    </script>
  </body>
</html>
