<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('video') %>
    <%- include('audio') %>
    <div class="content">
      <h1><%= title %></h1>

      <%- include('header') %>

      <% if (messages) { %>
        <section class="messages">
          <% messages.forEach(function(message) { %>
            <p><b><%= message %></b></p>
          <% }); %>
        </section>
      <% } %>
    </div>
  </body>

  <script>
    const searchParams = new URLSearchParams(window.location.search);
    if(searchParams.get('msg')){
      alert('<%= pop %>');
    }
  </script>
   
</html>
