<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 查看現金卷</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('header',{user:user}) %>
    
    <table>
      <tr><th>Tickets code</th><th>Money</th></tr>
      <% moneyTickets.forEach(moneyTicket=> { %>
        <tr><td><%= moneyTicket.code %></td><td><%= moneyTicket.money %></td></tr>
      <% }); %>
    </table>
  </body>
</html>
