<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 查看現金卷</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/backgroundImage.css' />
  </head>
  <body>
    <div class="content">
      <h1><%= title %></h1>
      <%- include('header') %>
      
      <table>
        <tr><th>使用卷代碼</th><th>金錢</th><th>刪除</th></tr>
        <% moneyTickets.forEach(moneyTicket=> { %>
          <tr><td><%= moneyTicket.code %></td><td><%= moneyTicket.money %></td><td><button type="button" id="delete" onclick="deleteMoneyTickets('<%= moneyTicket._id %>')">刪除</button></td></tr>
        <% }); %>
      </table>
    </div>
    <script>
      const searchParams = new URLSearchParams(window.location.search);
      if(searchParams.get('msg')){
        alert('<%= pop %>');
      }

      function deleteMoneyTickets(id){
        if(confirm("你確定要刪除此使用卷嗎？")){
          window.location.href ='/moneyTickets/delete?id='+id;
        }
      }
    
    </script>
  </body>
</html>
