<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 個人資料</title>
    <link rel='stylesheet' href='/stylesheets/userView.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('header',{user:user}) %>
    <a href="/logout">登出</a>
    <form action="" method="">
      <div class="container">
        <h1>個人資料</h1>
        <hr>
    
        <label for="email"><b>電郵地址</b></label>
        <input type="text" value="<%= user.email %>" readonly>
    
        <label for="username"><b>用戶名稱</b></label>
        <input type="text" value="<%= user.username %>" readonly>

        <label for="username"><b>金錢</b></label>
        <input type="text" value="<%= user.money %>" readonly>

        <button type="button" class="registerbtn" id="editButton" onclick="window.location.href='/users/edit/personalInfo'">編輯個人資料</button>
        <button type="button" class="registerbtn" onclick="window.location.href='/users/edit/password'">更改密碼</button>
        <button type="button" class="registerbtn" style="background-color: red;" id="delete" onclick="window.location.href='/users/delete'">刪除帳戶</button>
      </div>
    
    </form>
  </body>
</html>
