<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 更改個人資料</title>
    <link rel='stylesheet' href='/stylesheets/userView.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/backgroundImage.css' />
  </head>
  <body>
    <div class="content">
      <h1><%= title %></h1>

      <%- include('header') %>
      <form action="/users/edit/personalInfo" method="post">
        <div class="container">
          <h1>更改個人資料</h1>
          <hr>
      
          <label for="email"><b>電郵地址</b></label>
          <input type="text" name="email" id="email" value="<%= user.email %>" required>
      
          <label for="username"><b>用戶名稱</b></label>
          <input type="text" name="username" value="<%= user.username %>" required>

          <label for="username" id="passwordText"><b>密碼</b></label>
          <input type="password" name="password" id="password">

          <button type="submit" class="registerbtn" >更改資料</button>
          
          <button type="button" class="registerbtn" style="background-color:blue" onclick="window.location.href='/users'">回到上一頁</button>
        </div>
        <% if (messages) { %>
          <section class="messages">
            <% messages.forEach(function(message) { %>
              <p><b><%= message %></b></p>
            <% }); %>
          </section>
        <% } %>
      </form>
    </div>
    <script>
      if('<%= user.loginMethod %>' == "google") {
        document.getElementById('email').readOnly = true;
        document.getElementById('password').style.display = "none";
        document.getElementById('passwordText').style.display = "none";
      }
    </script>
  </body>
</html>
